<a href="https://colab.research.google.com/github/turna1/Basics-of-Python-Programming/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Naming Variable
 In Python, variable naming follows specific rules and conventions to ensure code readability and functionality.
Rules for Variable Naming:
Start with a letter or underscore: Variable names must begin with either an alphabet (a-z, A-Z) or an underscore (_). They cannot start with a number.
Python

    my_variable = 10  # Valid
    _private_var = "hello" # Valid
    1st_variable = 5   # Invalid
Allowed characters: Variable names can only contain alphanumeric characters (letters, numbers) and underscores. Special characters (e.g., @, #, $, %, &, !, *, (, ), -, +, =, {, }, [, ], :, ;, ', ", <, >, /, ?, |, `\`, ., ,, ` `) are not permitted.
Python

    valid_name = True # Valid
    my-variable = 20  # Invalid (hyphen)
    user name = "Alice" # Invalid (space)
Case-sensitive: Python variable names are case-sensitive. myVar, myvar, and MYVAR are considered three distinct variables.
Python

    age = 30
    Age = 35
    AGE = 40
    print(age, Age, AGE) # Output: 30 35 40
No keywords: You cannot use Python's reserved keywords (e.g., if, else, for, while, def, class, import, return, True, False, None) as variable names.
Python

    for = 5 # Invalid (keyword)
Conventions for Variable Naming (PEP 8 recommendations):
Snake case: For general variable names, use lowercase letters with words separated by underscores (e.g., my_variable_name).
Python

    total_count = 100
    user_age = 25
Descriptive names: Choose meaningful names that clearly indicate the purpose or content of the variable. Avoid overly short or ambiguous names.
Python

    # Good
    customer_id = "C123"
    # Less good
    cid = "C123"
Constants: For variables intended to be constants (values that should not change), use all uppercase letters with underscores separating words (e.g., MAX_VALUE).
Python

    MAX_RETRIES = 3
    PI = 3.14159
Adhering to these rules and conventions promotes code clarity, maintainability, and reduces the likelihood of errors.

In [ ]:
my_variable = 10  # Valid

In [ ]:
_private_var = "hello" # Valid

In [ ]:
first_variable = 5   # Invalid

In [ ]:
valid_name = "Raha"

In [ ]:
valid_name = "Raha"

In [ ]:
age = 5
print("her baby is",age,"months old" )

her baby is 5 months old

In [ ]:
print("her baby is",age,"months old" )

her baby is 5 months old

Let's build a calculator that converts the distance from miles to km

In [ ]:
403 * 1.60934

648.56402

In [ ]:
distance_to_london_miles = 403
miles_to_km = 1.60934
distance_to_london_km = distance_to_london_miles * miles_to_km
print("conversion in km is:", distance_to_london_km)

conversion in km is: 648.56402

In [ ]:
input_distance = float(input ("enter the distance"))
unit = input ("enter the unit")
conversion_factor = float(input ("enter the conversion factor"))
result = input_distance*conversion_factor
print("the output  distance is", result, unit)

enter the distance4635
enter the unitmi
enter the conversion factor0.621371
the output  distance is 2880.054585 mi

# Python Operators

Python operators facilitate various operations on data. They can be broadly categorized into **arithmetic**, **comparison (relational)**, and **logical operators**, which are fundamental for building expressions and controlling program flow in conditional statements.

---

## ðŸ”¢ Arithmetic Operators
These perform mathematical calculations.

| Operator | Description                             | Example                     |
|----------|-----------------------------------------|-----------------------------|
| `+`      | Addition                                | `5 + 3` â†’ `8`              |
| `-`      | Subtraction                             | `5 - 3` â†’ `2`              |
| `*`      | Multiplication                          | `5 * 3` â†’ `15`             |
| `/`      | Division (returns a float)              | `5 / 3` â†’ `1.666...`       |
| `//`     | Floor Division (integer result)         | `5 // 3` â†’ `1`             |
| `%`      | Modulo (remainder of division)          | `5 % 3` â†’ `2`              |
| `**`     | Exponentiation (power)                  | `5 ** 3` â†’ `125`           |

---

## âš–ï¸ Comparison (Relational) Operators
These compare two values and return a **Boolean result** (`True` or `False`).

| Operator | Description                 | Example                |
|----------|-----------------------------|------------------------|
| `==`     | Equal to                    | `5 == 3` â†’ `False`    |
| `!=`     | Not equal to                | `5 != 3` â†’ `True`     |
| `>`      | Greater than                | `5 > 3` â†’ `True`      |
| `<`      | Less than                   | `5 < 3` â†’ `False`     |
| `>=`     | Greater than or equal to    | `5 >= 3` â†’ `True`     |
| `<=`     | Less than or equal to       | `5 <= 3` â†’ `False`    |

---

## ðŸ”— Logical Operators
These combine conditional statements and return a Boolean result.

| Operator | Description                              | Example                                   |
|----------|------------------------------------------|-------------------------------------------|
| `and`    | True if **both** conditions are True     | `(5 > 3) and (2 < 4)` â†’ `True`           |
| `or`     | True if **at least one** is True         | `(5 > 3) or (2 > 4)` â†’ `True`            |
| `not`    | Inverts Boolean value                    | `not (5 > 3)` â†’ `False`                  |

---

## ðŸ“Œ Note on Operator Precedence
Python follows a specific **order of operations** (precedence):

- Arithmetic operators have **higher precedence** than comparison operators.  
- Comparison operators have higher precedence than logical operators.  
- `*` and `/` are evaluated before `+` and `-`.  
- Parentheses `()` can be used to explicitly control evaluation order.  

### Example:

```python
result = 2 + 3 * 4   # Multiplication (3*4) is done first
print(result)        # Output: 14

result_with_parentheses = (2 + 3) * 4  # Addition is done first
print(result_with_parentheses)         # Output: 20

In [ ]:
x = 5
y = 9
z = 6

In [ ]:
print(x>5)

False

In [ ]:
x<5

False

In [ ]:
x==5

True

In [ ]:
x<=5

True

In [ ]:
x>=(y-4)

True

In [ ]:
(x>y) and (y< (x-5+10))

False

In [ ]:
(x+1)%2==0

True

In [ ]:
x = float(input("enter the value of x"))
print(x % 2 == 0)

enter the value of x10.00
True